<% layout('/layouts/default.html', {title: '用户信息管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('用户信息管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('userinfo:userinfo:edit')){ %>
					<a href="${ctx}/userinfo/userinfo/form" class="btn btn-default btnTool" title="${text('新增用户信息管理')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${userinfo}" action="${ctx}/userinfo/userinfo/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('用户id')}：</label>
					<div class="control-inline">
						<#form:input path="userid" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('用户姓名')}：</label>
					<div class="control-inline">
						<#form:input path="username" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('性别')}：</label>
					<div class="control-inline">
						<#form:input path="sex" maxlength="5" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('年龄')}：</label>
					<div class="control-inline">
						<#form:input path="age" maxlength="3" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('手机号码')}：</label>
					<div class="control-inline">
						<#form:input path="phone" maxlength="11" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('个人爱好')}：</label>
					<div class="control-inline width-120">
						<#form:select path="hobby" dictType="user_userinfo_hobby" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('生日')}：</label>
					<div class="control-inline">
						<#form:input path="birthday" readonly="true" maxlength="20" class="form-control Wdate-date"
							dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('remarks')}：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('del_flag')}：</label>
					<div class="control-inline">
						<#form:input path="delFlag" maxlength="1" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("用户id")}', name:'userid', index:'a.userid', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/userinfo/userinfo/form?id='+row.id+'" class="btnList" data-title="${text("编辑用户信息管理")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("用户姓名")}', name:'username', index:'a.username', width:150, align:"left"},
		{header:'${text("性别")}', name:'sex', index:'a.sex', width:150, align:"left"},
		{header:'${text("年龄")}', name:'age', index:'a.age', width:150, align:"center"},
		{header:'${text("手机号码")}', name:'phone', index:'a.phone', width:150, align:"left"},
		{header:'${text("个人爱好")}', name:'hobby', index:'a.hobby', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('user_userinfo_hobby')}, val, '${text("未知")}', true);
		}},
		{header:'${text("生日")}', name:'birthday', index:'a.birthday', width:150, align:"center"},
		{header:'${text("状态")}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text("未知")}', true);
		}},
		{header:'${text("update_date")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		{header:'${text("remarks")}', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'${text("删除标志")}', name:'delFlag', index:'a.del_flag', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:160, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('userinfo:userinfo:edit')){ %>
				actions.push('<a href="${ctx}/userinfo/userinfo/form?id='+row.id+'" class="btnList" title="${text("编辑用户信息管理")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				if (row.status == Global.STATUS_NORMAL){
					actions.push('<a href="${ctx}/userinfo/userinfo/disable?id='+row.id+'" class="btnList" title="${text("停用用户信息管理")}" data-confirm="${text("确认要停用该用户信息管理吗？")}"><i class="glyphicon glyphicon-ban-circle"></i></a>&nbsp;');
				}
				if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/userinfo/userinfo/enable?id='+row.id+'" class="btnList" title="${text("启用用户信息管理")}" data-confirm="${text("确认要启用该用户信息管理吗？")}"><i class="glyphicon glyphicon-ok-circle"></i></a>&nbsp;');
				}
				actions.push('<a href="${ctx}/userinfo/userinfo/delete?id='+row.id+'" class="btnList" title="${text("删除用户信息管理")}" data-confirm="${text("确认要删除该用户信息管理吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');

			<% } %>
				<% if(hasPermi('userinfo:sys:role')){ %>
				actions.push('<a href="${ctx}/userinfo/userinfo/sendRole?userid='+row.userid+'&op=auth" class="btn btn-default btn-xs btnList" title="${text("用户分配角色")}"> <i class="fa fa-check-square-o"></i> ${text("分配角色")}</a>&nbsp;');
				<% } %>
				// actions.push('<a href="${ctx}/userinfo/userinfo/selectHobby?id='+row.id+'" class="btnList" title="${text("简单查询")}">跳转到NewPage页面</a>')
			return actions.join('');
		 }}

	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
	}
});
</script>